@{
    Layout = "_MainLayout";
}

<link href="~/Css/Admin1.css" rel="stylesheet" />

<partial name="~/Views/Shared/AdminPartialViews/Sidebar.cshtml" />

<div class="wrapper-admin">
    <div class="section-admin">
        <div class="box-area">
            @RenderBody()
        </div>
    </div>
</div>