@model UserModel

@{
    Layout = "_MainLayout";
}

<link href="~/Css/login.css" rel="stylesheet" />

<div class="center">
    <h1>Kullanıcı Girişi</h1>
    <form method="post" asp-action="Login" asp-controller="Auth">
        <div class="txt_field">
            <input asp-for="User.UserName" type="text" required>
            <span></span>
            <label asp-for="User.UserName">Kullanıcı Adı</label>
        </div>
        <div class="txt_field">
            <input asp-for="User.Password" type="password" required>
            <span></span>
            <label asp-for="User.Password">Şifre</label>
        </div>
        <input type="submit" value="Giriş">
        <div class="text-center">
            <a href="/Auth/UserSignup">Üye Ol</a>
        </div>
    </form>
</div>