@model BorrowedBookModel

@{
    Layout = "_AdminLayout";
}

<h1 class="py-3 text-white" style="background-color: #3a393f ">ÖDÜNÇ ALINAN KİTAPLAR</h1>
<div class="mx-5">
    <a href="/Admin/OldBorrowedBooks" class="btn btn-success my-4 float-end">Önceden Alınmış Kitaplar</a>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>KULLANICI ADI</th>
                <th>ALINAN KİTAP</th>
                <th>ALINMA TARİHİ</th>
                <th>GERİ İADE TARİHİ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var borrowedBook in Model.BorrowedBooks)
            {
                <tr>
                    <td>@borrowedBook.User.UserName</td>
                    <td>@borrowedBook.Book.Name</td>
                    <td>@borrowedBook.BorrowDate.GetDateTimeFormats()[0]</td>
                    <td>@borrowedBook.ReturnDate.GetDateTimeFormats()[0]</td>
                    <td><a href="/Admin/RevokeBorrowedBook/@borrowedBook.Id" class="btn btn-danger btn-sm">Geri Al</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>