@model TypeModel

@{
    Layout = "_AdminLayout";
}

<h1 class="py-3 text-white" style="background-color: #3a393f ">KİTAP TÜRÜ GÜNCELLE</h1>
<div class="mx-5 mt-4">
    <form asp-action="UpdateType" asp-controller="Admin" method="post">
        <div class="mb-3 form-group">
            <label asp-for="Type.Name" class="form-label">Kitap Türü</label>
            <input type="text" class="form-control" asp-for="Type.Name">
            <span class="form-text text-danger" asp-validation-for="Type.Name"></span>
        </div>
        <input type="hidden" asp-for="Type.Id" />
        <input type="hidden" asp-for="Type.Status" />
        <div class="text-center"><button type="submit" class="btn btn-warning">Güncelle</button></div>
    </form>
</div>