@model UserModel

@{
    Layout = "_UserLayout";
}

<h1 class="py-3 text-center">PROFİL BİLGİLERİ</h1>
<div class="mx-5 mt-4">
    <form asp-action="EditProfil" asp-controller="User" method="post">
        <div class="mb-3 form-group">
            <label asp-for="User.FirstName" class="form-label">İsim</label>
            <input type="text" class="form-control" asp-for="User.FirstName">
            <span class="form-text text-danger" asp-validation-for="User.FirstName"></span>
        </div>
        <div class="mb-3 form-group">
            <label asp-for="User.LastName" class="form-label">Soyisim</label>
            <input type="text" class="form-control" asp-for="User.LastName">
            <span class="form-text text-danger" asp-validation-for="User.LastName"></span>
        </div>
        <div class="mb-3 form-group">
            <label asp-for="User.Email" class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="User.Email">
            <span class="form-text text-danger" asp-validation-for="User.Email"></span>
        </div>
        <div class="mb-3 form-group">
            <label asp-for="User.Password" class="form-label">Şifre</label>
            <input type="text" class="form-control" asp-for="User.Password">
            <span class="form-text text-danger" asp-validation-for="User.Password"></span>
        </div>
        <input type="hidden" asp-for="User.Id" />
        <input type="hidden" asp-for="User.PositionId" />
        <input type="hidden" asp-for="User.UserName" />
        <div class="text-center"><button type="submit" class="btn btn-warning">Güncelle</button></div>
    </form>
</div>
@{
    if (Model.BorrowedBook != null)
    {
    <div class="p-3 mb-3 col-lg-4 col-md-6 mx-auto">
        <div class="card shadow">
            <div class="row g-0">
                <div class="col-md-4 text-center">
                    <img src="~/image/@Model.BorrowedBook.Book.Image" class="img-fluid rounded-start" style="object-fit: cover; height:100%;" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color: #3C096C">@Model.BorrowedBook.Book.Name</h5>
                        <p class="card-text text-muted">@Model.BorrowedBook.BorrowDate.GetDateTimeFormats()[0]</p>
                        <a href="/User/ReturnBack/@Model.BorrowedBook.BookId" class="btn btn-primary">Geri Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}