@{
    Layout = null;
}

<div class="text-center py-5" style="background-color: #3C096C; color: #ffffff">
    <i class="fas fa-book-open" style="font-size:2em"></i>
    <h1>GAZİ KÜTÜPHANESİ</h1>
</div>